.card {
  transition: all 0.3s ease-in-out;
}

.table tbody tr {
  transition: background-color 0.2s ease;
}

.table tbody tr:hover {
  background-color: rgba(141, 135, 129, 0.05) !important;
}

.btn-naranja {
  background-color: var(--tuti-naranja) !important;
  color: var(--tuti-blanco) !important;
  transition: all 0.2s ease;
}

.btn-naranja:hover {
  background-color: var(--tuti-naranja-dark) !important;
  transform: translateY(-2px);
}

a.btn:hover {
  background-color: var(--tuti-gris-claro) !important;
  transform: translateY(-2px);
  transition: all 0.2s ease;
}